
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter&family=Kanit:wght@100;200&display=swap');


body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 50px;
  border-color: black;
  background-image: url('./images/weather-images.jpg');
  width: 700px;
  height: 200px;
  border-radius: 50px;
  flex-direction: row;
  margin-bottom: 60px;
}
.showInfo{
  
}
.search--city{
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  margin: 20px;
  padding:0px;
}

.form--button{
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  margin: 20px;
  margin-top: 0px;
  border-radius: 5px;
}

.temp{
  margin-left: 20px;
  font-size: xx-large;
  color: white;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 10px;
}

.condition{
  padding-top: 0;
  margin-top: 0;
  margin-left: 20px;
  color: white;
}

.cityName{
  font-size: larger;
}
.bigCities{
  margin-top: 10px;
  background-color: rgb(175, 201, 193);
  width: 150px;
  padding: 5px;
  border-radius: 30px;
  padding-left: 50px;
  color: rgb(255, 255, 255);
  margin: 5px;
  align-items: center;
  position: sticky;

}

.bigCitiesArea{
  display: inline-block;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-top: 60px;
}